<launch>
	<node type="compass" name="compass_node" pkg="localization" /> 
	<node type="encoders" name="encoders_node" pkg="localization" />  	
	<node type="gps.py" name="gps" pkg="localization" />
	<node type="path_planning_node.py" name="path_planning" pkg="path_planning" output="screen"/>
</launch>
	

