<launch>

  <group ns="turtlesim1">
    <node pkg="perception" name="perception" type="perception_node"/>
  </group>

  <group ns="lidar">
    <node pkg="node" name="node" type="node"/>
  </group>

  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>
  </node>

</launch>
